#contacter {
  text-align: center;
  font-weight: bold;
}
a {
  color: blue;
}
#suivez {
  text-align: center;
  font-weight: bold;
}
#toutdroits {
  padding-top: 10px;
  text-align: center;
  font-style: italic;
  color: #668cff;
}
