

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body,
h1,
h2,
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.header {
  position: relative;
  overflow: hidden;
}

.header-content {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 8%;
}

.header-title {
  margin-bottom: 1rem;
  font-size: 6vw;
  color: #333;
}

@media (min-width: 640px) {
  .header-title {
    font-size: 46px;
  }
}

.embed-frame {
  width: 150vw;
  height: 84.375vw;
  margin: 0 0 0 -25%;
}

@media (min-width: 640px) {
  .embed-frame {
    width: 100vw;
    height: 56.25vw;
    max-width: 100%;
    margin: 0; 
  }
}

.button {
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@media (min-width: 640px) {
  .button {
    font-size: 16px;
  }
}

.main-content {
  padding: 2rem 0;
}

@media (min-width: 640px) {
  .main-content{
    padding: 5rem 0;
  }
}